aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.log
config.status
config.sub
depcomp
install-sh
libtool
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
.deps
.libs
*.gmo
*.o
*.swp
*.user
*.cbp
