aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/xdiff-ext.desktop
depcomp
INSTALL
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
stamp-h1
setup/src/xdiffextsetup
.deps
.libs
*.gmo
*.o
*.swp
*.user
*.cbp
*.la
*.lo
